$chevronDown: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
$mainColor: #222222;
$oppositeColor: #84DCC6;
$oppositeColor-transp: rgba(132, 220, 198, 0.3);
$color-1: #4B4E6D;
$color-1-trasnp: rgba(75, 78, 109, 0.35);
$color-2: #95A3B3;
$color-2-transp: #c4ced859;
$overlay: rgba(0, 0, 0, 0.3);
$transition: all 0.2s;
$negativeMargin: -50px;
$btnShadow: 3px 3px 0px #ffffff7d;
$btnShadowColored: 3px 3px 0 #84dcc696;
$shadow: 1px 1px 5px #b6c1bd7d;
$productWidth: 270px;
